src/test/resources/flows/ArchiveCompressMap.yaml
id: archiveCompressMap
namespace: io.kestra.plugin-compress

inputs:
  - name: file1
    type: STRING
  - name: file2
    type: STRING
  - name: file3
    type: STRING

tasks:
  - id: "archive_compress"
    type: io.kestra.plugin.compress.ArchiveCompress
    from:
      f1.txt: "{{ inputs.file1 }}"
      f2.txt: "{{ inputs.file2 }}"
      f3.txt: "{{ inputs.file3 }}"
    algorithm: "TAR"
    compression: "GZIP"
  - id: 'archive_decompress'
    type: io.kestra.plugin.compress.ArchiveDecompress
    from: "{{ outputs.archive_compress.uri }}"
    algorithm: "TAR"
    compression: "GZIP"