src/test/resources/sanity-checks/file_encrypt_decrypt.yaml
id: file_encrypt_decrypt
namespace: sanitychecks.plugin-compress

tasks:
  - id: write_file
    type: io.kestra.plugin.core.storage.Write
    content: "This is a sample file for the compress plugin sanity check."
    extension: .txt

  - id: make_zip
    type: io.kestra.plugin.compress.ArchiveCompress
    from:
      sample.txt: "{{ outputs.write_file.uri }}"
    algorithm: ZIP

  - id: encrypt
    type: io.kestra.plugin.compress.FileEncrypt
    from: "{{ outputs.make_zip.uri }}"
    password: "test-password"
    iterations: 100000

  - id: decrypt
    type: io.kestra.plugin.compress.FileDecrypt
    from: "{{ outputs.encrypt.uri }}"
    password: "test-password"
    iterations: 100000

  - id: decompress
    type: io.kestra.plugin.compress.ArchiveDecompress
    from: "{{ outputs.decrypt.uri }}"
    algorithm: ZIP

  - id: assert_round_trip
    type: io.kestra.plugin.core.execution.Fail
    condition: "{{ outputs.decompress.files | length != 1 }}"

  - id: encrypt_argon2id
    type: io.kestra.plugin.compress.FileEncrypt
    from: "{{ outputs.make_zip.uri }}"
    password: "test-password"
    keyDerivation: ARGON2ID
    argon2TimeCost: 1
    memory: 8192
    parallelism: 1

  - id: decrypt_argon2id
    type: io.kestra.plugin.compress.FileDecrypt
    from: "{{ outputs.encrypt_argon2id.uri }}"
    password: "test-password"

  - id: decompress_argon2id
    type: io.kestra.plugin.compress.ArchiveDecompress
    from: "{{ outputs.decrypt_argon2id.uri }}"
    algorithm: ZIP

  - id: assert_argon2id
    type: io.kestra.plugin.core.execution.Fail
    condition: "{{ outputs.decompress_argon2id.files | length != 1 }}"
